#download {
    align-items: center;
    background-color: $pink;
    display: flex;
    height: 100vh;
    justify-content: center;

    a:link,
    a:visited {
        background-color: white;
        border-radius: 15px;
        color: $black;
        font-size: 5rem;
        font-weight: 700;
        padding: 3rem;
        text-decoration: none;
        transition: 0.25s;
    }

    a:active,
    a:hover {
        background-color: $black;
        color: $pink;
    }
}
