#hero {
    height: 100vh;

    h1 {
        font-size: 5rem;
        margin: 10% 0;
        text-align: center;
    }

    section {
        display: grid;
        grid-template-areas: ". tooltip modal notice confirm .";
        grid-template-columns: "auto 10% 10% 10% 10% auto";
        grid-gap: 50px;

        div {
            text-align: center;
            padding: 30px;
            font-weight: 600;
            font-size: 1.75rem;
            color: $white;
            border-radius: 5px;
            transition: 0.25s;
        }

        div:hover {
            background-color: $black !important;
        }

        button:hover {
            background-color: $black !important;
        }

        #tooltip {
            grid-area: tooltip;
            background-color: $teal;
        }

        #modal {
            grid-area: modal;
            background-color: $blue;
        }

        #notice {
            grid-area: notice;
            background-color: $purple;
            transition: 0.25s;
            text-align: center;
            padding: 30px;
            font-weight: 600;
            font-size: 1.75rem;
            color: $white;
            border-radius: 5px;
        }

        #confirm {
            grid-area: confirm;
            background-color: $pink;
        }
    }
}
